* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  width: 100%;
}

.logo {
  /* letter-spacing: 3px; */
  font-size: 18px;
  /* font-weight: bold; */
  font-family: "Londrina Sketch", cursive;
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #28282b;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
  font-size: 18px;
}

#work-active,
#info-active {
  color: red;
}

/* body */

.intro {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  color: #28282b;
  font-weight: 700;
  font-size: 36px;
  font-family: "Neucha", cursive;
}

.intro h3 {
  color: #a3a3a3;
  font-weight: lighter;
  margin-top: 25px;
  font-size: 18px;
}

.intro p {
  margin-top: 25px;
  color: #28282b;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  word-wrap: break-word;
  width: 45%;
  line-height: 2rem;
}

/* social links */
.social-links i {
  font-size: small;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #828282;
  color: #28282b;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.social-links a:hover {
  color: red;
  border: 1px solid red;
}

/* cards */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3em;
}

.card {
  width: 513px;
  height: 353px;
  /* padding: 2rem 1rem; */
  background: #e5e5e5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 8px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

hr {
  margin-top: 5rem;
  color: #c5c5c5;
}

/* card hover animation */
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.75);
  z-index: 2;
  transition: 0.3s all;
  opacity: 0;
}

.card:hover img {
  height: 100%;
  filter: blur(5px);
}

.card:hover:before {
  opacity: 1;
}

.card .description {
  position: relative;
  z-index: 3;
  color: #28282b;
  opacity: 0;
  transition: 0.3s all;
}

.card:hover .description {
  opacity: 1;
}

.card .description h3 {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color: #474d50;
}

.card .description p {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  color: #626a6e;
}

#confidential {
  color: red;
}

.div-link {
  text-decoration: none;
}

/* footer */
.footer {
  padding: 40px 0;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* height: 2.5rem; */
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer li {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.footer a {
  color: #a3a3a3;
  text-decoration: none;
}

.footer a:hover {
  color: red;
}

/* info page */
.row {
  display: flex;
  padding: 15px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.column {
  float: left;
  width: 50%;
}

#pfp {
  /* width: 65%;
    height: auto;
    padding-left: 30%;
    padding-top: 75px;
    padding-bottom: 140px; */
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 70px;
  margin-left: 40%;
  margin-bottom: 140px;
}

#title {
  padding-top: 30px;
  font-weight: 800;
  font-family: "Neucha", cursive;
  font-size: 38px;
}

.main-text {
  padding-bottom: 0px;
  text-align: left;
  padding-right: 30%;
  font-weight: 400;
  font-size: 20px;
  line-height: 2rem;
}

.sub-text {
  text-align: left;
  font-size: 12px;
  color: #c5c5c5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#cornell {
  color: red;
}

#infosci {
  font-weight: bold;
}

#bold {
  font-weight: bold;
}

#rapstudy {
  color: rgb(41, 141, 255);
}

#soju {
  color: rgb(21, 197, 88);
}

@media screen {
}
